<form method="post" action-xhr="/api/email" target="_top" credentials="include" custom-validation-reporting="show-all-on-submit">
	<div class="ampstart-input inline-block relative m0 p0 mb3">
		<input type="email" id="show-all-on-submit-email" name="email" placeholder="YourEmail@Address.com" required />
		<span visible-when-invalid="valueMissing"
		validation-for="show-all-on-submit-email"></span>
		<span visible-when-invalid="typeMismatch"
		validation-for="show-all-on-submit-email"></span>
		<input type="submit" value="Subscribe" class="ampstart-btn caps" />
	</div>
	<div submit-success>
		<template type="amp-mustache">
			<span>{% raw %}{{message}}{% endraw %}</span>
		</template>
	</div>
	<div submit-error>
		<template type="amp-mustache">
			<span>{% raw %}{{message}}{% endraw %}</span>
		</template>
	</div>
</form>