body {
    margin: 0;
    padding: 0;

    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

/* Includes padding, margins with width and height of elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    display: block;
}

#logo { width: 160px; }
.navbar-default { background-color: #ffffff; }
.navbar-header a { height: auto; }
/*.hero-spacer { margin-top: 120px; }*/
.text-center { text-align: center; }
.container-s { background-color: white; }
.jumbotron-text { padding: 0px 20px; }
.btn-newsletter { 
    margin-bottom: 5px;
    margin-left: 6px;
}
.w80p { width: 80%; }



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .navbar-nav {
        margin-top: 25px;
    }
}




/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px;) { 
    .navbar-nav {
        margin-top: 25px;
    }
}




/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-nav {
        margin-top: 25px;
    }
}



