<div uib-alert class="alert" dismiss-on-timeout="5500" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{ alert.msg }}</div>
<!-- Jumbotron Header -->

<!-- Modal Stuff -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>


<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="background-color: #eeeeee;">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <div ng-show="slide.id == 0">
            <div class="jumbotron hero-spacer">
                <h1 class="jumbotron-text text-center">Get 10% Off</h1>
                <p class="jumbotron-text text-center">Join Our newsletter list and get 10% discount on your next order. Get instant notifications about our new products and discounts. Keep in Touch!</p>
                <p class="jumbotron-text text-center">
                    <!-- MESSAGEING HERE -->
                    <input type="email" ng-model="customer.email" ng-min="5" ng-max="65" name="email" placeholder="Your@EmailAddress.com" />
                    <a ng-click="joinEmailList(customer.email)" class="btn btn-primary btn-large btn-newsletter">Join Now!</a>
                </p>
            </div>
        </div>
        <div ng-hide="slide.id == 0">
            <img class="img-fluid" ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Latest Products</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">
    <div ng-repeat="product in products" class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img ng-src="{{ product.images[0].url.https }}" alt="{{ product.name }}" />
            <div class="caption">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>
                    <a ng-click="buyProd(product.id)" class="btn btn-primary">Buy Now!</a> <a ui-sref="productDetails({ prodSlug: product.slug })" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>
