{% extends "base-amp.html" %}

{% block add_scripts %}
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
{% endblock add_scripts %}

<style type="text/css">
{% block custom_css %}
	{{ get_resource_as_string('static/css/dist/index.css') }}
{% endblock custom_css %}
</style>

{% block content %}
<div class="w100p">
	<div class="carousel">
		<amp-carousel height="260" layout="fixed-height" type="slides">
			<div placeholder class="placeholder-color"></div>
			<!-- <amp-img src="{{ url_for('static', filename='img/bg.jpg') }}" height="383" layout="fixed-height" alt="a sample image"></amp-img>
			<amp-img src="{{ url_for('static', filename='img/bg.jpg') }}" height="383" layout="fixed-height" alt="a sample image"></amp-img>
			<amp-img src="{{ url_for('static', filename='img/bg.jpg') }}" height="383" layout="fixed-height" alt="a sample image"></amp-img> -->
			<div class="slide">
				<h2>This is the carousel</h2>
			</div>
			<div class="w100p" style="border: 1px dotted red;">
				<h2>whisch isn't implemented</h2>
			</div>
			<div class="w100p" style="border: 1px dotted red;">
				<h2>yet</h2>
			</div>
		</amp-carousel>
	</div>
	<!-- isn't working this shit -->
	<h1>Latest Products</h1>
	<hr />
</div>
{% endblock content %}