{% extends "base-amp.html" %}

{% block add_scripts %}
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "Apple",
    "image": "http://www.ampbyexample.com/img/golden_apple1_1024x682.jpg",
    "description": "Lorem ipsum",
    "mpn": "925872",
    "brand": {
        "@type": "Fruit",
        "name": "Apple"
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.4",
        "reviewCount": "88"
    },
    "offers": {
        "@type": "Offer",
        "priceCurrency": "USD",
        "price": "1.99",
        "priceValidUntil": "2020-11-05",
        "itemCondition": "http://schema.org/UsedCondition",
        "availability": "http://schema.org/InStock",
        "seller": {
            "@type": "Retail",
            "name": "AMP by Example"
        }
    }
}
</script>
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
{% endblock add_scripts %}

{% block meta_data %}
<meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-04-04" content="Ajcrk411RcpUCQ3ovgC8le4e7Te/1kARZsW5Hd/OCnW6vIHTs5Kcq1PaABs7SzcrtfvT0TIlFh9Vdb5xWi9LiQsAAABSeyJvcmlnaW4iOiJodHRwczovL2FtcGJ5ZXhhbXBsZS5jb206NDQzIiwiZmVhdHVyZSI6IldlYlNoYXJlIiwiZXhwaXJ5IjoxNDkxMzM3MDEwfQ==">
{% endblock meta_data %}

<style type="text/css">
{% block custom_css %}
	{{ get_resource_as_string('static/css/dist/productPage.css') }}
{% endblock custom_css %}
</style>

{% block content %}
<div class="w80p">
	<h1>{{ product.title }}</h1>
	<div class="grid-social-link">
		<p class="link-bar">
			<a href="{{ url_for('amp_index') }}">
				Home
			</a>/
			<a href="{{ url_for('amp_brand_page', brand=product.brand['slug']) }}">
				{{ product.brand['title'] }}
			</a>/
			<a href="{{ url_for('amp_product_page', brand=product.brand['slug'], product=product.slug) }}">
				{{ product.title }}
			</a>
		</p>
		<div class="social-media">
			<amp-social-share type="facebook"
			width="30"
			height="22"
			data-attribution="254325784911610"></amp-social-share>
			<amp-social-share type="pinterest"
			data-param-media="{{ product.images[0] }}"
			width="33"
			height="22"></amp-social-share>
		</div>
	</div>
	<amp-carousel id="carousel-with-carousel-preview"
		width="400"
		height="300"
		layout="responsive"
		type="slides">
		{% for img in product.images %}
			<amp-img src="{{ img }}"
		width="1280"
		height="720"
		layout="responsive"
		alt="a sample image">
            <div placeholder class="placeholder-color"></div>
		</amp-img>
		{% endfor %}
	</amp-carousel>
	<div class="product-attr-container">
		<div class="product-specs">
			<amp-selector role="tablist"
				layout="container"
				class="ampTabContainer">
				<div role="tab"
					class="tabButton"
					selected
					option="a">
					Details
				</div>
				<div role="tabpanel"
				class="tabContent">
					<p>
						<b>Price: </b>
						{% if product.apply_discount is defined and product.apply_discount %}
							<span style="text-decoration: line-through;">{{ product.price_original }}</span> - {{ product.price }}
						{% else %}
						{{ product.price }}
						{% endif %}
					</p>
					<p><b>Stock: </b>{{ product.get_stock_status() }}</p>
				</div>
				<div role="tab"
				class="tabButton"
				option="b">
					Description
				</div>
				<div role="tabpanel"
				class="tabContent description">
					<p>
						{{ product.description }}
					</p>
				</div>
				<div role="tab"
				class="tabButton"
				option="c">
					Reviews
				</div>
				<div role="tabpanel"
				class="tabContent review-section">
					<div class="user">
						<b>Admin:</b><br />
						<i>01/01/2017</i>
					</div>
					<div class="comment-box">
						<p>Not implemented yet!</p>
					</div>
				</div>
			</amp-selector>
			<a href=""></a>
		</div>
		<div class="cart-wrapper">
			<form id="order"
				method="POST"
				action-xhr="/api/product/add_to_cart"
				target="_top">
				<div>
					<input type="submit"
					class="btn btn-add-to-cart"
					name="add-to-cart"
					value="Add to Cart">
				</div>
				<input type="hidden"
				name="prod_id"
				value="{{ product.id }}">
				<div submit-success class="submit-success">
					<template type="amp-mustache">
						<span>{% raw %}{{message}}{% endraw %}</span>
					</template>
				</div>
				<div submit-error class="submit-error">
					<template type="amp-mustache">
						Error! Looks like something went wrong with your shopping cart, please try to add an item again. 
						{% raw %}{{error}}{% endraw %}
					</template>
				</div>
			</form>
		</div>
	</div>
	<h3>Others from {{ brand['title'] }}</h3>
	<hr />
	<div class="brand-products">
		{% for product in brand.products[:4] %}
			<div class="product-box">
				<a href="{{ url_for('amp_product_page', brand=product.brand['slug'], product=product.slug) }}">
					<amp-img src="{{ product.images[0] }}" width="854" height="480" alt="{{ product.name }}" layout="responsive">
						<div placeholder class="placeholder-color"></div>
					</amp-img>
				</a>
				<p class="product-description">
					<a href="{{ url_for('amp_product_page', brand=product.brand['slug'], product=product.slug) }}">
						{{ product.description }}
					</a>
				</p>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}