@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1100px) { @content; }
}


@mixin add-fixed-bg($bg-image) {
	background-image: url($bg-image);
	background-position: left center;
	// background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}