$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #777777;
$secondary-color: #eeeeee;
$third-color: #cecece;
$brown-color: #cccccc;
$blue-color: #355c7d;
$blue-color-hover: #294963;