@import 'mixins';
@import 'variables';

// AMP CSS for the TABS
.ampTabContainer {
    display: flex;
    flex-wrap: wrap;
}

.tabButton[selected] {
    outline: none;
    background: #ccc;
}

.tabButton {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.tabContent {
    display: none;
    width: 100%;
    order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
    border: 1px solid #ccc;
}

.tabButton[selected]+.tabContent {
    display: block;
}

/* For example below (not required) */
.itemCustom {
    border: 1px solid #000;
    height: 280px;
    width: 380px;
    margin: 10px;
    text-align: center;
    padding-top: 140px;
}
amp-selector {
  padding: 1rem;
  margin: 1rem;
  margin: 0px;
}
// END OF AMP CSS
// ##################

.w80p { 
	width: 90%;
	margin: 0px auto;
	.link-bar {
		a {
			text-decoration: underline;
			color: $blue-color;
			font-size: 0.8em;
			&:hover {
				color: $blue-color-hover;
				font-weight: bold;
			}
		}
		padding-bottom: 15px;
	}
	.social-media {
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 10px;
			width: 80px;
			li {
				list-style: none;
				grid-row: 1;
				grid-column: auto;
				// justify-self: center;
			}
		}
	}
	.product-attr-container {
		display: grid;
		grid-template-columns: 1fr;
	}
}





// .carousel {
// 	.jumbotron {
// 		margin: 2em;
// 		background-color: white;
// 		opacity: 0.9;
// 		height: 200px;
// 		h5 {
// 			padding-top: 1vw;
// 			font-size: 26px;
// 			color: #000001;
// 			text-shadow: 2px;
// 			text-align: center;
// 		}
// 		p {
// 			font-size: 16px;
// 			color: #000001;
// 			padding: 1.5vw;
// 		}
// 	}
// 	.slide1{
// 		@include add-fixed-bg('../static/img/join_email_list_bg.jpg');
// 	}
// 	.slide2{
// 		@include add-fixed-bg('../static/img/out_of_box_prods.jpg');
// 	}
// 	.slide3{
// 		background-color: $primary-color;
// 		@include add-fixed-bg('../static/img/free_shipping_bg.png');
// 	}
// }

// .prod-renderer-wraper {
// 	margin-top: 4em;
// 	display: grid;
// 	grid-template-columns: 1fr;
// 	grid-template-rows: auto;
// 	grid-gap: 35px;
// 	.prod-box {
//         grid-column: 1;
//         justify-self: center;
//         width: 80%;
//         border: 1px solid $third-color;
//         .prod-attr {
//         	margin-top: 10px;
//         	padding: 2vw;
//         	.btn {
//         		padding: 10px 20px;
//         		color: #ffffff;
//        			text-decoration: none;
//         	}
//         	.btn-submit {
//         		background-color: #355c7d;
//         		&:hover {
//         			background-color: #294963;
//         			color: #cccccc;
//         		}
//         	}
//         	.btn-positive {
//         		background-color: #ffffff;
//         		border: 1px solid $third-color;
//         		color: $primary-color;
//         		padding: 8px 16px;
//         		&:hover {
//         			background-color: $third-color;
//         		}
//         	}
// 	        p {
// 	        	margin-top: 10px;
// 	        	margin-bottom: 15px;
// 	        }
// 	        .btn-right {
// 	        	position: relative;
// 	        	right: 0px;
// 	        }
//         }
// 	}
// }