@import 'mixins';
@import 'variables';

// AMP CSS for the TABS
.ampTabContainer {
    display: flex;
    flex-wrap: wrap;
}

.tabButton[selected] {
    outline: none;
    font-style: italic;
    font-weight: bold;
}

.tabButton {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.tabContent {
    display: none;
    width: 100%;
    order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
    border-top: 1px solid $brown-color;
    padding: 10px;
}

.tabButton[selected]+.tabContent {
    display: block;
}

/* For example below (not required) */
.itemCustom {
    border: 1px solid #000;
    height: 280px;
    width: 380px;
    margin: 10px;
    text-align: center;
    padding-top: 140px;
}
amp-selector {
  padding: 1rem;
  margin: 1rem;
  margin: 0px;
  [option][selected] {
  	outline: none;	
  }
}
// END OF AMP CSS
// ##################

.w80p { 
	width: 90%;
	margin: 0px auto;
	.grid-social-link {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		@include for-tablet-up {
			grid-template-columns: 2fr 3fr;
		}
		.link-bar {
			@include for-tablet-up {
				grid-column:1;
			}
			a {
				text-decoration: underline;
				color: $blue-color;
				font-size: 0.8em;
				&:hover {
					color: $blue-color-hover;
					font-weight: bold;
				}
			}
			padding-bottom: 15px;
		}
		.social-media {
			@include for-tablet-up {
				grid-column: 2;
			}
			padding-bottom: 30px;
		}
	}
	.product-attr-container {
		padding: 10px 0px;
		display: grid;
		grid-template-columns: 1fr;
		.product-specs {
			.tabButton {
				padding: 10px 0px;
			}
		}
		.btn-add-to-cart {
			padding: 10px 25px;
			color: #ffffff;
			background-color: $blue-color;
			border-radius: 5px;
			&:hover {
				background-color: $blue-color-hover;
				color: $secondary-color;
			}
		}
		@include for-tablet-up {
			grid-template-columns: 4fr 1fr;
			.product-specs {
				grid-column: 1;
				width: 90%;
				.tabButton {
					text-align: left;
				}
			}
			.cart-wrapper {
				grid-column: 2;
				justify-self: center;
				align-self: center;
			}
		}
	}
	.description {
		p {
			text-align: center;
		}
	}
	.review-section {
		div {
			display: inline-block;
		}
		.user {
			width: 35%;
			font-size: 0.8em;
		}
		.comment-box {
			width: 63%;
			top: 0px;
			font-size: 0.8em;
		}
	}
	.brand-products {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		.product-box {
			grid-column: auto;
			grid-row: auto;
			padding-bottom: 10px;
			.product-description {
				padding: 5px;
				font-size: 0.8em;
				letter-spacing: -0.08em;
				text-align: center;
				a {
					text-decoration: none;
					color: $primary-color;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		@include for-tablet-up {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			.product-description {
				padding: 15px;
				font-size: 1em;
				letter-spacing: 0.03em;
			}
		}
	}
}